@model IEnumerable<VgcCollege.Domain.Entities.CourseEnrolment>

@{
    ViewData["Title"] = "My Students";
    var facultyId = ViewBag.FacultyId;
}

<h2>My Students</h2>

<table class="table">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enrolment in Model)
        {
            <tr>
                <td>@enrolment.StudentProfile.Name</td>
                <td>@enrolment.Course.Name</td>
            </tr>
        }
    </tbody>
</table>